@import "../../styles/colors.scss";

.title {
  margin: 0 0 3em;

  h1 {
    font-size: 1.5em;
    font-weight: bold;

    &::before {
      content: "#";
      font-size: 80%;
      margin-right: 0.2em;
      color: $color-decoration;
    }
  }

  .date {
    display: block;
    line-height: 1.2em;
    font-size: 0.75em;
  }
}
