@import "styles/palette.scss";

.article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 3.2rem 0 0.8rem;
    font-weight: bold;

    &::before {
      font-size: 80%;
      margin-right: 0.2rem;
      color: $color-decoration;
    }
  }

  h1 {
    margin: 0;

    &::before {
      content: "#";
    }
  }


  h2 {
    &::before {
      content: "##";
    }
  }

  h3 {
      &::before {
      content: "###";
    }
  }

  h4 {
    &::before {
      content: "####";
    }
  }

  h5 {
      &::before {
      content: "#####";
    }
  }

  h6 {
      &::before {
      content: "######";
    }
  }

  p {
    margin: 1.5rem 0 1.5rem;
  }

  li {
    list-style-type: none;

    &::before {
      margin-right: 0.2rem;
      color: $color-decoration;
    }

    p {
      display: inline;
      margin: 0;
    }
  }

  ul {
    margin-left: 1rem;

    li {
      &::before {
        content: "-";
      }
    }
  }

  ol {
    margin-left: 1rem;

    counter-reset: section;
    li {
      counter-incrrement: section;
      &::before {
        content: counter(section) ".";
      }
    }
  }

  table {
    tr {
      border-top: 1px solid $color-decoration;

      th {
        font-weight: bold;
      }

      th,
      td {
        border: 1px solid $color-decoration;
        padding: 0.8rem 1.6rem;
        line-height: 1rem;
      }
    }
  }

  iframe {
    display: block;
    max-width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  hr {
    margin: 2rem 0;
    border-top: 0.8rem dotted $color-decoration;
  }

  blockquote {
    border-left: 0.4rem solid $color-decoration;
    padding: 0 1rem;
    color: $color-decoration;
  }
}

