@import "https://cdn.jsdelivr.net/npm/ress@5.0.2/dist/ress.min.css";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap";
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css";

@import "styles/palette.scss";

html {
  font: $font-root;
  background-color: $color-background;
  color: $color-text;
}

body {
  width: 100%;
  display: grid;
  row-gap: 4.8rem;
  line-height: 1.5;
  font: $font-body;
}

a {
  color: $color-text;
  text-decoration: underline;
}

ul,
ol,
li {
  list-style: none;
}

