@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import "styles/palette.scss";

html {
  font: $font-root;
  background-color: $color-background;
  color: $color-text;
}

body {
  width: 100%;
  max-width: 960px;
  margin: 1.6rem auto;
  font: $font-body;

  .header {
    margin-bottom: 4.8rem;
  }

  .content {
    word-break: break-all;
  }

  .footer {
    margin-top: 4.8rem;
  }
}


a {
  color: $color-text;
  text-decoration: underline;
}

ul,
ol,
li {
  list-style: none;
}

